# ------ Ignore all files ------
*


# ------ Files to NOT IGNORE ---------
!.gitignore

# ...even if they are in subdirectories
!*/

# track all files in MillionSongs/src/main/scala/ recursively
!MillionSongs/src/main/scala/**

# build.sbt file
!MillionSongs/build.sbt

# README file
!README.md


# --------- Files to MAKE SURE to Ignore ----------
MillionSongs/src/main/scala/Ignore/**